<br>
<footer id="footer" class="footer">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-3" style="background-color: #FA772E; color: white;">
        <div class="order-1 order-sm-0 d-flex align-items-center">
            <a class="d-flex ms-3" aria-label="CriticO-On">
                <img src="assets/carita.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" style="border-radius: 50%; border-color: #241344; border-width: 1px; border-style: solid;background-color: #241344;">
            </a>
            <p class="d-flex align-items-center justify-content-center m-0 ms-2" style="text-align: center;" aria-label="Slogan">Criticar nunca fue tan fácil...</p>
        </div>
        <div class="order-2 order-sm-2">
            <p class="mb-0 me-3" style="font-style: italic;">Copyright © 2025 Eclipse Inc.</p>
        </div>
    </div>
</footer>
