<div class="genre-categories">
    <a routerLink="/categoria/romance" class="genre-card">
      <div class="genre-icon">
        <img src="assets/love.png" alt="Romance" />
      </div>
      <span>Romance</span>
    </a>
  
    <a routerLink="/categoria/Thriller" class="genre-card">
      <div class="genre-icon">
        <img src="assets/terror.png" alt="Suspenso" />
      </div>
      <span>Thriller</span>
    </a>
  
    <a routerLink="/categoria/comedia" class="genre-card">
      <div class="genre-icon">
        <img src="assets/comedia.png" alt="Comedia" />
      </div>
      <span>Comedia</span>
    </a>
  
    <a routerLink="/categoria/drama" class="genre-card">
      <div class="genre-icon">
        <img src="assets/drama.png" alt="Drama" />
      </div>
      <span>Drama</span>
    </a>
  
    <a routerLink="/categoria/animacion" class="genre-card">
      <div class="genre-icon">
        <img src="assets/anime.png" alt="animacion" />
      </div>
      <span>Anime</span>
    </a>
  
    <a routerLink="/categoria/Ciencia Ficcion" class="genre-card">
      <div class="genre-icon">
        <img src="assets/accion.png" alt="Acción" />
      </div>
      <span>Ficcion</span>
    </a>
  
    <a routerLink="/categoria/fantasia" class="genre-card">
      <div class="genre-icon">
        <img src="assets/aventura.png" alt="Aventura" />
      </div>
      <span>Fantasia</span>
    </a>
  </div>