<br>
<h2 class="text-center mt-4">Populares</h2>
<h5 class="text-center mt-4"> El mejor contenido, votado por nuestros Criticones </h5>

<div class="populares-container">
  <div class="card populares-card" *ngFor="let slide of reviewSlides">
    <img
      [src]="slide.url_foto"
      class="card-img-top populares-img mx-auto d-block"
      (click)="verDetalles(slide.id_sp)"
      style="cursor: pointer;"
    >
    <div class="card-body">
      <h5 class="card-title populares-comentario">"{{ slide.review.comentario }}"</h5>
      <br>
      <p class="card-text">Rating ⭐: {{ slide.review.rating }}</p>
      <p class="card-text">Likes ❤️: {{ slide.review.cantidad_likes }}</p>
    </div>
  </div>
</div>






