.titulo {
  text-align: center;
  color: #ec7626;
}

.pelicula-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 20px;
}

img {
  border-radius: 8px;
}

.pelicula-info {
  flex: 1;
}
