.carousel-container {
  width: 70%;         /* o usa 800px si prefieres un valor fijo */
  margin: 0 auto;     /* Centrado horizontal */
}

.carousel-inner img {
  height: 500px;
  width: 100%;
  object-fit: cover;  /* Mantiene proporción y recorta si es necesario */
  border-radius: 12px; /* Opcional: bordes redondeados */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

